/* Main file */

@import "compass/css3/transition";
@import "compass/css3/animation";
@import "compass/css3/filter";
@import "compass/css3/border-radius";
@import "partials/mixins";

* {
  text-align: center;
  box-sizing: border-box;
}

html, body {
  background-color: #000;
}

.reveal {
  display: none;
}

#wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 3px 25px;
  padding-bottom: 25px;
  /*background-image: linear-gradient(to bottom right, rgba(0,0,0,0.5), rgba(46, 66, 65, 0.5)), linear-gradient(to top right, rgba(0,0,0,0.3), rgba(255, 0, 0, 0.2)), url("../img/bg_departure.jpg");*/
  background-image: url("../img/siteback.jpg");
  background-position: 0 0;
  background-attachment: fixed;
  /*background-size: 120% 100%;*/
  background-repeat: repeat-x;
  font-family: 'Open Sans', sans-serif;
  /*@include transition(background-position 3s cubic-bezier(.15,.9,.59,.98));*/
  /*@include transition(background-position 3s ease-in-out);*/
  @include animation(bg-anim 120s linear infinite);
  @include bp-small {
    padding-left: 8px;
    padding-right: 8px;
    background-size: cover;
  }
}

#logo {
  padding: 1em;
}

#logo img {
  opacity: 0.9;
  max-width: 100%;
  @include animation(logo-anim 18s linear infinite);
}

#content {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  @include bp-medium {
    flex-direction: column;
  }
}

#player {
  width: 300px;
  
  @include bp-medium {
    margin: auto;
  }
  
  @include bp-small {
    width: 100%;
  }
  
  iframe {
    @include bp-large {
      width: 100%; 
    }
    @include bp-medium {
      width: auto;
    }
    @include bp-small {
      width: 100%;
    }
  }
}

#storyline {
  background-color: rgba(0,0,0,0.4);
  @include border-radius(4px);
  @include bp-large {
    max-width: 70%;
  }
}

.marginStoryline {
  @include bp-large {
    margin-left: 300px;
  }
}

article {
  color: #ddd;
  font-weight: 400;
  letter-spacing: 0.5px;
  p {
    margin: 10px;
    text-align: justify;
    
    @include bp-small {
      margin: 3px;
    }
  }
}

.floating {
  @include bp-large {
    position: fixed;
    top: 20px;
  }
}

@include keyframes(bg-anim) {
  from { background-position: 0% 0%; }
  to { background-position: -5331px 0%; }
}

@include keyframes(logo-anim) {
  0%, 94%, 100% { @include filter(blur(0px)) }
  95% { @include filter(blur(1px)) }
  95.5% { @include filter(blur(2px)) }
  96% { @include filter(blur(3px)) }
  96.5% { @include filter(blur(4px)) }
  97% { @include filter(blur(3px)) }
  97.5% { @include filter(blur(2px)) }
  98% { @include filter(blur(1px)) }
  98.5% { @include filter(blur(0px)) }
}