/* Mixins */

@mixin bp-large {
  @media only screen and (min-width: 900px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 899px) {
    @content;
  }
}

@mixin bp-inter {
  @media only screen and (max-width: 450px) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 350px) {
    @content;
  }
}

