/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Main file */
/* Mixins */
/* line 9, ../sass/_main.scss */
* {
  text-align: center;
  box-sizing: border-box;
}

/* line 14, ../sass/_main.scss */
html, body {
  background-color: #000;
}

/* line 18, ../sass/_main.scss */
.reveal {
  display: none;
}

/* line 22, ../sass/_main.scss */
#wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 3px 25px;
  padding-bottom: 25px;
  /*background-image: linear-gradient(to bottom right, rgba(0,0,0,0.5), rgba(46, 66, 65, 0.5)), linear-gradient(to top right, rgba(0,0,0,0.3), rgba(255, 0, 0, 0.2)), url("../img/bg_departure.jpg");*/
  background-image: url("../img/siteback.jpg");
  background-position: 0 0;
  background-attachment: fixed;
  /*background-size: 120% 100%;*/
  background-repeat: repeat-x;
  font-family: 'Open Sans', sans-serif;
  /*@include transition(background-position 3s cubic-bezier(.15,.9,.59,.98));*/
  /*@include transition(background-position 3s ease-in-out);*/
  -moz-animation: bg-anim 145s linear infinite;
  -webkit-animation: bg-anim 145s linear infinite;
  animation: bg-anim 145s linear infinite;
}
@media only screen and (max-width: 350px) {
  /* line 22, ../sass/_main.scss */
  #wrapper {
    padding-left: 8px;
    padding-right: 8px;
    background-size: cover;
  }
}

/* line 46, ../sass/_main.scss */
#logo {
  padding: 1em;
}
/* line 48, ../sass/_main.scss */
#logo p {
  margin-top: 5px;
}

/* line 53, ../sass/_main.scss */
#logo img {
  opacity: 0.9;
  max-width: 100%;
  -moz-animation: logo-anim 18s linear infinite;
  -webkit-animation: logo-anim 18s linear infinite;
  animation: logo-anim 18s linear infinite;
}

/* line 59, ../sass/_main.scss */
.shipA {
  /*position: absolute;
  width: 68px;
  height: 273px;
  background-image: url("../img/shipA.png");*/
}

/* line 66, ../sass/_main.scss */
#content {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 899px) {
  /* line 66, ../sass/_main.scss */
  #content {
    flex-direction: column;
  }
}

/* line 76, ../sass/_main.scss */
#player {
  width: 300px;
}
@media only screen and (max-width: 899px) {
  /* line 76, ../sass/_main.scss */
  #player {
    margin: auto;
  }
}
@media only screen and (max-width: 350px) {
  /* line 76, ../sass/_main.scss */
  #player {
    width: 100%;
  }
}
@media only screen and (min-width: 900px) {
  /* line 87, ../sass/_main.scss */
  #player iframe {
    width: 100%;
  }
}
@media only screen and (max-width: 899px) {
  /* line 87, ../sass/_main.scss */
  #player iframe {
    width: auto;
  }
}
@media only screen and (max-width: 350px) {
  /* line 87, ../sass/_main.scss */
  #player iframe {
    width: 100%;
  }
}

/* line 100, ../sass/_main.scss */
#storyline {
  background-color: rgba(0, 0, 0, 0.4);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media only screen and (min-width: 900px) {
  /* line 100, ../sass/_main.scss */
  #storyline {
    max-width: 70%;
  }
}

@media only screen and (min-width: 900px) {
  /* line 108, ../sass/_main.scss */
  .marginStoryline {
    margin-left: 300px;
  }
}

/* line 114, ../sass/_main.scss */
article {
  color: #ddd;
  font-weight: 400;
  letter-spacing: 0.5px;
}
/* line 118, ../sass/_main.scss */
article p {
  margin: 10px;
  text-align: left;
}
@media only screen and (max-width: 350px) {
  /* line 118, ../sass/_main.scss */
  article p {
    margin: 3px;
  }
}

@media only screen and (min-width: 900px) {
  /* line 128, ../sass/_main.scss */
  .floating {
    position: fixed;
    top: 20px;
  }
}

@-moz-keyframes bg-anim {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -5331px 0%;
  }
}
@-webkit-keyframes bg-anim {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -5331px 0%;
  }
}
@keyframes bg-anim {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -5331px 0%;
  }
}
@-moz-keyframes logo-anim {
  0%, 94%, 100% {
    filter: blur(0px);
  }
  95% {
    filter: blur(1px);
  }
  95.5% {
    filter: blur(2px);
  }
  96% {
    filter: blur(3px);
  }
  96.5% {
    filter: blur(4px);
  }
  97% {
    filter: blur(3px);
  }
  97.5% {
    filter: blur(2px);
  }
  98% {
    filter: blur(1px);
  }
  98.5% {
    filter: blur(0px);
  }
}
@-webkit-keyframes logo-anim {
  0%, 94%, 100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  95% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  95.5% {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  96% {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  96.5% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  97% {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  97.5% {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  98% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  98.5% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
@keyframes logo-anim {
  0%, 94%, 100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  95% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  95.5% {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  96% {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  96.5% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  97% {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  97.5% {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  98% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  98.5% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
